.fr .wsite-menu-default li:nth-child(even){
	display: none!important;
}

.es .wsite-menu-default li:nth-child(odd){
	display: none!important;
}

.fr #navmobile .wsite-menu-default li:nth-child(even){
	display: none!important;
}

.es #navmobile .wsite-menu-default li:nth-child(odd){
	display: none!important;
}

/* flag properties as shown in demo */

a.flaggy{
	position: absolute;
	right: 0;
	margin-top: -50px;
	border-bottom: none;
}

/* properties for editor */

#icontent .flaggy{
	display: none
}

#icontent .wsite-menu-default li:nth-child(even){
	display: inline-block!important;
}

#icontent .wsite-menu-default li:nth-child(odd){
	display:  inline-block!important;
}